################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/**/bin
/**/obj
/ResearchPortal.API/AppSettingsSecrets.config
/NSERC_GRT_FYR2016_AWARD.csv
